body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("./underwater.jpg");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:15px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky{
  background-image: url("./giphy.gif");
  border: none;
  height:180px;
  width:200px; 
  background-repeat: no-repeat;
}

.poke{
  background-image: url("./charmander.png");
  border: none;
  height:300px;
  width:260px;
  background-repeat: no-repeat;
  animation:spin 4s linear infinite;
}

.cat{
  background-image: url("./GCat.png");
  border: none;
  height:300px;
  width:260px;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }